face3d/morphable_model/BFM/Out
*.pyc
face3d/mesh/cython/mesh_core_cython.cpp
face3d/mesh/cython/mesh_core_cython.cpython-37m-x86_64-linux-gnu.so
face3d/mesh/cython/build
face3d/mesh/cython/*.so
face3d/face_detector/weights
face3d/tddfa
300VW*
300WLP*
AFLW2000*
compressed_data
debug
*.tar.gz
samples